aicode/artifacts/xsd/CR-PATCH-TEST-001/UPIPayRequest.xsd

<?xml version='1.0' encoding='UTF-8'?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
  <xs:element name="Root">
    <xs:complexType>
      <xs:sequence/>
    </xs:complexType>
  </xs:element>
  <xs:element name="Payer">
    <xs:complexType>
      <xs:sequence/>
      <xs:attribute name="testField" use="optional" type="xs:string"/>
    </xs:complexType>
  </xs:element>
</xs:schema>
