aicode/artifacts/xsd/CR-E2E-001/ReqPay_baseline.xsd

<?xml version='1.0' encoding='utf-8'?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified"><xs:element name="ReqPay"><xs:complexType><xs:sequence><xs:element name="TxnRef" minOccurs="0" maxOccurs="1" type="xs:string" /><xs:element name="Amount" minOccurs="0" maxOccurs="1" type="xs:string" /><xs:element name="PayerAddr" minOccurs="0" maxOccurs="1" type="xs:string" /></xs:sequence></xs:complexType></xs:element></xs:schema>