aicode/artifacts/xsd/CR-TEST-UPLOAD/UPIPayRequest.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
  <xs:element name="UPIPayRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="Header" minOccurs="0" maxOccurs="1">
          <xs:complexType>
            <xs:attribute name="msgId" type="xs:string" use="optional"/>
            <xs:attribute name="orgId" type="xs:string" use="optional"/>
          </xs:complexType>
        </xs:element>
        <xs:element name="TxnDetail" minOccurs="0" maxOccurs="1">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="Payer" minOccurs="0" maxOccurs="1">
                <xs:complexType>
                  <xs:attribute name="addr" type="xs:string" use="optional"/>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
            <xs:attribute name="amount" type="xs:string" use="optional"/>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
      <xs:attribute name="txnId" type="xs:string" use="optional"/>
    </xs:complexType>
  </xs:element>
</xs:schema>